<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation">
          <a routerLink="/users/admin">Admin</a>
        </li>
        <li role="presentation">
          <a [routerLink]="['/servers']">Servers</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <router-outlet></router-outlet>
    </div>
</div>



<!--The whole content below can be removed with the new code.-->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <template-driven></template-driven>
    </div>
  </div>
</div>
 -->
