<p appBasicHighlight>
  home component works, it is styled with basic highlight directive!
</p>
<!-- angular checks if found sets these properties i.e defaultColor and highlightColor on directive, before it reaches the native DOM element -->
<p appBetterHighlight [defaultColor]="'violet'" highlightColor="green">
  home component works, it is styled with better highlight directive!
</p>

<p *appUnless="false"> I m visible for false condition </p>

<div [ngSwitch]="value">
  <p *ngSwitchCase="5">The value is {{ value }}</p>
  <p *ngSwitchCase="10">The value is {{value}} </p>
  <p *ngSwitchDefault>The value is default </p>
</div>
